main {
  padding: 15px;
}

.pizza {
  display: flex;
  gap: 16px;
  padding: 8px 0;
  border-bottom: 1px solid var(--pizza-bottom-order-color);
}

.pizza-image {
  width: 100px;
  height: 100px;
}

.pizza-image-soldout {
  filter: grayscale(1);
  opacity: 0.5;
}

.pizza-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.pizza-name {
  font-weight: 600;
}

.pizza-ingredients {
  font-style: italic;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.pizza-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pizza-price {
  font-size: 14px;
  color: var(--pizz-price-color);
}

.quantity-controls {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

.quantity-buttons-block {
  display: flex;
  align-items: center;
}

.quantity-buttons {
  padding-left: 15px;
  padding-right: 15px;
}

.item-count {
  display: flex;
  justify-content: center;
  width: 35px;
}