.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(234, 179, 8);
    padding: 15px 20px;
    z-index: 50;
}

@media only screen and (max-width: 377px) {
    .header {
        flex-direction: column;
    }
}