:root {
  --text-color: #44403c;
  --primary-color: #eab308;
  --input-border-color: #e7e5e4;
  --pizza-bottom-order-color: #d3d3d3;
  --pizz-price-color: #808080;
}

body {
  position: relative;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color);
}

.logo {
  text-decoration: none;
  font-size: 20px;
  color: var(--text-color);
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}